blockquote {
  padding: 10px 20px !important;
  margin: 0 0 20px !important;
  border-left: 5px solid var(--fect-border) !important;
  border-right: unset !important;
  border-top: unset !important;
  border-bottom: unset !important;
  border-radius: unset !important;
  width: 100%;
  overflow: auto;
  background-color: unset !important;
}
